



.smartview_page_header { 
    left:0;
    font-weight: 900;
}

.body_section { 
    margin-top: 20px;
}

.office_logo {
    top: 0;
    padding-top: 0%;
    background: url('../phato/office.png');
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.get_start_btn {
    background-color: rgba(254,133,0,1);
    color: honeydew;
    border:none;
    box-shadow: none;
    width: 8rem;
    margin-top: 1.5rem;
    margin-left: 0;
    font-size: 0.9rem;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}


.get_start_btn:hover {
    width: 9rem;
}
  
@media only screen and (max-width : 480px) {
    /* CSS code for mobile devices goes here */
    .smartview_page_header { 
        font-size: 18px;
    }
    .office_logo { 
        margin-top: 2rem;
        height: 25rem;
    }
    .body_section {
        margin-top: 5rem;
    }
    .nav_bar {
        background-color: blue;
        position: relative;
        height: 29px;
        left: 20px;
        top: 22px;
    }
    
    .contact_text {
        font-size: 12px;
    }

    .meterial-icons {
        font-size: 12px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1023px) {
    /* CSS code for tablets goes here */
    
    .smartview_page_header { 
        font-size: 28px;
    }
}

@media only screen and (min-width : 1024px) {
    /* CSS code for laptops and desktop devices goes here */
    .smartview_page_header { 
        font-size: 28px;
    }

    .nav_bar {
        position: relative;
        height: 29px;
        left: 20px;
        top: 32px;
    }

    .office_logo {
        height: 25rem;
    }
    
    
}

.custom_shape_divider_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: b;
} 
